/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-text-color: rgba(53, 52, 48, 1);
  --accent-color: rgba(255, 141, 203, 1);
  --accent-color-hover: rgba(50, 49, 45, 0.4);
  --page-background-image: url(../images/cover-image-light.png);
  --no-focus-text-color: rgba(255, 194, 230, 1);
  --bold-text-color: rgba(53, 52, 48, 1);
  --text-color: rgba(53, 52, 48, 1);
  --page-reserve-background-color: rgba(255, 241, 247, 1);
}

.theme-light .page {
  .REC {
    display: none; 
    position: absolute;
    right: 19px;
    top: 10px;
    color: var(--accent-text-color);
    text-transform: uppercase;
    font-size: var(--text-font-size);
    font-weight: 400;
    line-height: 1.39em;
  }
  
  .REC::after {
    content: '';
    display: none; 
    width: 9px;
    height: 9px;
    margin-block-end: 2px;
    margin-inline-start: 10px;
    box-shadow:  0px 0px 4px 2px rgba(255, 0, 112, 1);
    border: none;
    border-radius: 50%;
    background-color: var(--accent-text-color);
  }
  /* Вам также нужно будет написать ряд подобных селекторов */
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-text-color: rgba(53, 52, 48, 1);
    --accent-color: rgba(255, 141, 203, 1);
    --accent-color-hover: rgba(50, 49, 45, 0.4);
    --page-background-image: url(../images/cover-image-light.png);
    --no-focus-text-color: rgba(255, 194, 230, 1);
    --bold-text-color: rgba(53, 52, 48, 1);
    --text-color: rgba(53, 52, 48, 1);
    --page-reserve-background-color: rgba(255, 241, 247, 1);
  }
}
