/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--page-background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--text-font-family);
  background-color: var(--page-reserve-background-color);
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header {
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-columns: 1.66fr minmax(70px, 1fr);
  grid-template-rows: minmax(228px, 2.4fr) 95px 95px minmax(228px, 2.4fr);
  padding: 10px;
  position: relative;
  font-family: var(--text-font-family);
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--accent-text-color);
}

.decorated-zone::before {
  border-top: none;
  border-right: none;
  bottom: 10px; 
  left: 10px;
}

.decorated-zone::after {
  border-bottom: none;
  border-left: none;
  top: 10px;
  right: 10px;
}

.REC {
  position: absolute;
  right: 19px;
  top: 10px;
  color: var(--accent-text-color);
  text-transform: uppercase;
  font-size: var(--text-font-size);
  font-weight: 400;
  line-height: 1.39em;
}

.REC::after {
  content: '';
  display: inline-block; 
  width: 9px;
  height: 9px;
  margin-block-end: 2px;
  margin-inline-start: 10px;
  box-shadow:  0px 0px 4px 2px rgba(255, 0, 112, 1);
  border: none;
  border-radius: 50%;
  background-color: var(--accent-text-color);
}

.header__theme-menu {
  grid-column: 2;
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.header__theme-menu-item {
  margin: auto;
}

.header__theme-menu-button {
  width: 70px;
  height: 26px;
  background-color: transparent;
  border: none;
  padding: 1.5px 13px 5px 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__theme-menu-button-text {
  color: var(--accent-text-color);
  font-size: var(--text-font-size);
  text-transform: lowercase;
  line-height: 18px;
  font-weight: 400;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--accent-color-hover);
}

.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid var(--accent-text-color);
}

.header__theme-menu-button_active{
  outline: 1px solid var(--accent-text-color);
  pointer-events: none;
}

.header__title {
  grid-column: 1/3;
  grid-row: 2/3;
}

.title__text {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--no-focus-text-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-weight: 700;
  line-height: 83%;
  letter-spacing: 0%;
}

.header__description-text-container {
  grid-column: 1 / 3;
  grid-row: 4;
  align-self: center;
}

.title-decor {
  background-color: var(--accent-color);
}

.bold-text {
  font-size: var(--text-font-size);
  line-height: 1.3em;
  letter-spacing: 0%;
  color: var(--bold-text-color);
  font-weight: 700;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  padding: 0px 10px 10px 10px;
}

.articles-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.articles-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.advice-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.articles-section-title {
  font-size: var(--text-font-size);
  color: var(--accent-text-color);
  font-weight: 700;
  line-height: 1.3em;
  letter-spacing: 0%;
}

.article-title {
  margin-block-end: 10px;
}

.article-text {
  font-weight: 400;
  font-size: var(--text-font-size);
  line-height: 1.3em;
  letter-spacing: 0%;
  color: var(--text-color);
}

.link {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.link:hover {
  border-bottom: 1px solid var(--text-color);
  cursor: pointer;
}

.link:focus {
  outline: 1px solid var(--text-color);
}

.not-bold-text {
  font-weight: 400;
}

.pictures-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.pictures-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.image-container {
  width: 100%;
}

.image {
  width: 100%;
  height: 100%;
  object-fit:cover;
  object-position: center;
}

.footer{
  height: 100vh;
  min-height: 668px;
  padding: 10px;
  margin-block-start: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.footer__title {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.sunset__img {
  grid-area: sunset;
}

.ice-cream__img {
  grid-area: ice-cream;
}

.tape__img {
  grid-area: tape;
}

.books__img {
  grid-area: books;
}

.street__img {
  grid-area: street;
}

@media (768px <= width < 1024px) {
  .header {
    min-height: 1024px;
    grid-template-columns: minmax(364px, 1fr) minmax(364px, 1fr);
    grid-template-rows: minmax(442px, 4.42fr) minmax(100px, 1fr) minmax(442px, 4.42fr);
    padding: 20px;
  }
  .REC { 
    right: 29px;
    top: 20px;
  }
  .decorated-zone::before {
    bottom: 20px; 
    left: 20px;
  }

  .decorated-zone::after {
    top: 20px;
    right: 20px;
  }

  .header__title {
    grid-column: 1/3;
    grid-row: 2/2;
  }

  .title__text {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem); 
  }

  .header__description-text-container {
    grid-column: 2 / 3;
    grid-row: 3;
  }

  .main-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 80px;
    padding: 0px 20px 20px 20px;
    margin-block-start: 60px;
  }

  .articles-section {
    grid-template-columns: minmax(236px, 1fr) minmax(472px, 2fr);
    column-gap: 20px;
  }
  .artical-container {
    grid-column: 2/3;
  }

  .articles-list {
    grid-row-start: 2;
    grid-row-end: auto;
    grid-column: 1/3;
    gap: 0px;
    row-gap: 20px;
  }

  .advice-list {
    grid-row-start: 1;
    grid-row-end: auto;
    grid-column: 2/3;
    gap: 0px;
    row-gap: 20px;
  }

  .advice-list .artical-container {
    grid-column: 1/2;
  }

  .advice-list h3:first-child {
    margin-block-end: 0px;
  }

  .pictures-grid-container {
    grid-template-columns: repeat(3, minmax(230px, 1fr));
    grid-template-rows: minmax(192px, 1fr) minmax(230px, 1.2fr) minmax(318px, 1.65fr);
    gap: 20px;
    grid-template-areas: 
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
  }

  .footer{
    min-height: 1024px;
    padding: 20px;
    margin-block-start: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
  }
}

@media (width >= 1024px) {
  .header {
    min-height: 768px;
    grid-template-columns: minmax(492px, 1fr) minmax(492px, 1fr);
    grid-template-rows: minmax(300px, 2.3fr) minmax(130px, 1fr) minmax(300px, 2.3fr);
    padding: 20px;
  }

  .header__theme-menu {
    grid-column: 1 /3;
    grid-row: 1;
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .REC { 
    right: 29px;
    top: 20px;
  }

  .decorated-zone::before {
    bottom: 20px; 
    left: 20px;
  }

  .decorated-zone::after {
    top: 20px;
    right: 20px;
  }
  .title__text {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem); 
  }

  .header__title {
    grid-column: 1/3;
    grid-row: 2/2;
  }

  .header__description-text-container {
    grid-column: 2 / 3;
    grid-row: 3;
  }

  .main-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 80px;
    padding: 0px 20px 20px 20px;
    margin-block-start: 60px;
  }

  .articles-section {
    grid-template-columns: minmax(236px, 1fr) minmax(472px, 2fr);
    column-gap: 20px;
  }
  .artical-container {
    grid-column: 2/3;
  }

  .articles-list {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column: 1/3;
    grid-template-columns: repeat(3, minmax(315px, 1fr));
    gap: 20px;
  }

  .articles-list .artical-container {
    grid-column: auto;
  }

  .advice-list {
    grid-row-start: 1;
    grid-row-end: auto;
    grid-column: 2/3;
    gap: 0px;
    row-gap: 20px;
  }

  .advice-list .artical-container {
    grid-column: 1/2;
  }

  .advice-list  h3:first-child {
    margin-block-end: 0px;
  }

  .pictures-grid-container {
    grid-template-columns: repeat(3, minmax(230px, 1fr));
    grid-template-rows: minmax(192px, 1fr) minmax(230px, 1.2fr) minmax(318px, 1.65fr);
    gap: 20px;
    grid-template-areas: 
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
  }

  .footer{
    padding: 20px;
    margin-block-start: 20px;
    min-height: 768px;
    align-items: center;
    justify-content: center;
    position: relative;
  }
}
